

    <h1>{{descripcion1}}</h1>
    <img src="../../../assets/img/iamgenZapaAdidas.jpg" width="200px" height="200px">
    <h3>${{precio}}</h3>
    <h1>Descripcion del calzado</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis optio ullam facilis quasi, fugiat 
      itaque necessitatibus nesciunt aperiam consequuntur eius labore
       veritatis repellat corporis ipsum mollitia iste quae architecto iure?
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur deleniti debitis dolore tempore 
        neque libero qui asperiores recusandae cupiditate voluptas
       assumenda, deserunt facilis perferendis hic molestias expedita cum, eum rerum!</p>

      <hr>
      
      <h1>{{descripcion3}}</h1>
      <img src="../../../assets/img/imagenZapaConverse.jpg" width="200px" height="200px">
      <h3>${{precio}}</h3>
      <h1>Descripcion del calzado</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis optio ullam facilis quasi, fugiat 
        itaque necessitatibus nesciunt aperiam consequuntur eius labore
         veritatis repellat corporis ipsum mollitia iste quae architecto iure?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur deleniti debitis dolore tempore 
          neque libero qui asperiores recusandae cupiditate voluptas
         assumenda, deserunt facilis perferendis hic molestias expedita cum, eum rerum!</p>

        <hr>
    
      <h1>{{descripcion2}}</h1>
      <img src="../../../assets/img/imagenZapaNike.jpg" width="200px" height="200px">
      <h3>${{precio}}</h3>
      <h1>Descripcion del calzado</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis optio ullam facilis quasi, fugiat 
        itaque necessitatibus nesciunt aperiam consequuntur eius labore
         veritatis repellat corporis ipsum mollitia iste quae architecto iure?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur deleniti debitis dolore tempore 
          neque libero qui asperiores recusandae cupiditate voluptas
         assumenda, deserunt facilis perferendis hic molestias expedita cum, eum rerum!</p>
   